Imports

In [1]:
import numpy as np
import pandas as pd
import datetime

import pandas_datareader # install with `pip install pandas-datareader`
from dstapi import DstApi # install with `pip install git+https://github.com/alemartinello/dstapi`

import matplotlib.pyplot as plt
plt.rcParams.update({"axes.grid":True,"grid.color":"black","grid.alpha":"0.25","grid.linestyle":"--"})
plt.rcParams.update({'font.size': 14})

In [8]:
CPI = DstApi('PRIS111') 
GUR = DstApi('AUS07')

In [11]:
tabsum1 = CPI.tablesummary(language='en')
display(tabsum1)
tabsum2 = GUR.tablesummary(language='en')
display(tabsum2)

Table PRIS111: Consumer price index by commodity group, unit and time
Last update: 2023-04-11T08:00:00

,variable name,# values,First value,First value label,Last value,Last value label,Time variable
0,VAREGR,384,000000,"00 Consumer price index, total",151000,15.1 Overall Consumer Price Index excl. energy,False
1,ENHED,3,100,Index,300,Percentage change compared to same month the y...,False
2,Tid,267,2001M01,2001M01,2023M03,2023M03,True

Table AUS07: Unemployed persons (seasonally adjusted) by benefits, sex and age, seasonal adjustment and actual figures and time
Last update: 2023-03-30T08:00:00

,variable name,# values,First value,First value label,Last value,Last value label,Time variable
0,YD,15,TOT,Gross unemployment,O60,60 years and more,False
1,SAESONFAK,4,9,Seasonally adjusted figures in percent of the ...,24,Enumerated actual figures,False
2,Tid,194,2007M01,2007M01,2023M02,2023M02,True